{% extends 'base.html.twig'%}

{% block title %}
 Présentation de l'article
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <div class="test">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto soluta nemo, ipsum illo distinctio quae repudiandae delectus aliquam dignissimos iure debitis quia maiores atque, vitae velit. Sequi ea explicabo doloremque.
                </div>
                <div class="test1">
                Salut, les jeunes / loulou
                </div>
            </div>
            <div class="col-md-6">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore obcaecati ea minima, nisi mollitia corporis qui facilis possimus itaque alias modi ab ad voluptates pariatur non, tempore quam! Autem, atque.
            </div>
        </div>
    </div>
{% endblock %}